{% extends 'base.html' %}

{% block content %}
  <div class="content" align="center">
      <!-- after change-->
      {% if post.published_date %}
          <div class="date">
              {{ post.published_date }}
          </div>
    {% endif %}
      <a class="btn btn-default" href="{% url 'edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Редактировать</span></a>
       <a class="btn btn-default" href="{% url 'delete' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Удалить</span></a>
      <div class="modal">
<h1>{{ post.title }}</h1>
      <h3>{{ post.text|linebreaksbr }}</h3>
 <input type="button" value="Вернуться!" onclick="history.back()">
      </div>
  </div>
{% endblock %}
